<h1>Kraftstofftanks</h1>
<p>Ein Auto kann mehrere Tanks haben, wenn es z.B. Gas (LPG) und normales Benzin benutzt.</p>

<h1>Kraftstoffart</h1>
<p>Wenn Sie ein hybrides Auto haben (z.B. LPG und Benzin), fügen Sie unterschiedliche Kraftstoffarten
für jeden Tank hinzu.</p>
<p>Sie können auch von Kraftstoffarten profitieren, wenn Ihr Auto nur einen Tank hat. Wenn Sie z.B.
abwechselnd Super 95 und Super E10 tanken, können Sie unterschiedliche Kraftstoffarten dafür verwenden.
Dann werden sie auch im Benzinpreisreport unterschieden.</p>