<h1>Consumption</h1>
<p>To calculate the consumption, the miles are added together by a full tank of fuel to another.
For this reason partial refills will only be considered with the next complete fill.</p>

<h1>Costs</h1>
<p>The values in the cost report show an average value which is based on the entire input data.
The trend line in the graph does not cover the current period, because data may still
change.</p>

<h1>Balance missing refuelings</h1>
<p>To recognize missing refuelings the app looks for fuel consumptions, which are much lower (&lt; 80%)
than the average. It will then, based on the average distance between refuelings, guess when the missing
refuelings propably took place add them temporarily (trying to produce average values for fuel consumption
and price) to calculate more balanced values.</p>
<p>These balanced values are used in the fuel consumption report, mileage report, costs report and calculator.
The data list displays hints for propably refuelings, but does show the actual values for fuel consumption.</p>