<h1>Fuel Tanks</h1>
<p>A car can have more than one tank, if it uses gas (LPG) in addition to ordinary fuel for example.</p>

<h1>Fuel Types</h1>
<p>If you have a hybrid car (e.g. LPG and ordinary fuel) you add a different fuel type for each tank.</p>
<p>You can also use fuel types if your car has only one tank. If your can can use Super 95 and Super E10
for example, you can add both types and see them distinguished in the fuel price report.</p>